.ProductPreview {
  width: 100%;
  position: relative;
}

.ProductPreview > img {
  width: 100%;
}
@media (max-width: 767.98px) { 
  .ProductPreview > img {
    width: 100%;
  }
  .ProductPreview > .TimeSection {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: 600;
  }
  .ProductPreview > .HeartBeatSection {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: white;
    font-size: 20px;
    font-weight: 600;
    
  }
  .HeartBeatSection > i {
    color: red;
    animation: beat 1s infinite;
    
  }
 }

.TimeSection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: 600;
}

.HeartBeatSection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: 600;
}
.HeartBeatSection > i {
  color: red;
  animation: beat 1s infinite;
}

.HeartBeatSection > p {
  margin-top: 16px;
}

@keyframes beat {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}
